
.LoginBtn{
    background: var(--linear-orange);
}
.OrangeGradient{
    color:#F1606B!important;
}
.RememberMeLabel{
color:black !important;
}

.LoginBorder{
    border-right: 2px solid var(--Deeb-blu);
}
.loginImgParent img {
    width: 100%;
    object-fit: cover;
}
.LoginBorder,.loginImgParent{
    width: 50%;
}
@media(max-width:767px){
    .LoginBorder{
        width: 100%;
        border: 2px solid var(--Deeb-blu);
        padding: 10px  !important;
        border-radius: 20px !important;
    } 
    .loginImgParent{
        display: none !important;
    }
    .ForgotContent{
        font-size: 10px !important;
    }
    .LeftLogo {
        height: 40px !important;
    }
    .LeftLogo img {
        height: 100% !important;
    }
    .LeftLogo{
        width: 250px !important;
    }
}
.LeftLogo img ,.RighLogo img{
width: 150px  !important;
object-fit: cover !important;
}
.LeftLogo,.RighLogo{
    width: 175px !important;
}
.FormParent{
    width: 50%;
}
.FormImage{
    width: 75%;
}
@media (max-width:768px){
    .LeftLogo,.RighLogo{
        display: none !important;
    }
    .FormParent{
        width: 100%;
    }
    .FormImage{
        width: 50%;
    }
}